*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
   min-height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;

}
#addBtn{
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 15px;
}
.note{
    width: 400px;
    height: 400px;
    background-color: white;
    margin: 15px;
    margin-top: 30px;
}
.tool{
    width: 100%;
    background-color: #263737;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: end;
}
.tool i{
    padding: 5px;
    cursor: pointer;
}
.note textarea{
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
}
.note textarea:focus{
    border: 0;
    outline: 0;
    padding: 10px;
}